<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>312433404748-9ah41dn943qmhm2t4j8gn0ra5jekkuop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312433404748-9ah41dn943qmhm2t4j8gn0ra5jekkuop</string>
	<key>API_KEY</key>
	<string>AIzaSyAgQrWNf-y2FGIeKow7l0iqslLWM5MJWww</string>
	<key>GCM_SENDER_ID</key>
	<string>312433404748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoTest</string>
	<key>PROJECT_ID</key>
	<string>todo-33659</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-33659.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312433404748:ios:2af768c7a1819bf8f63de9</string>
	<key>DATABASE_URL</key>
	<string>https://todo-33659.firebaseio.com</string>
</dict>
</plist>